@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">

	@if (Model.MyUser != null)
	{
		<h1 class="display-4">Välkommen @Model.MyUser.FirstName @Model.MyUser.LastName</h1>
	}
</div>

@if (User.Identity.IsAuthenticated)
{
	<p>Du är ingloggad som @User.Identity.Name</p>
	<form method="post" asp-page-handler="ToggleForm">
		<input type="hidden" name="showForm" value="@Model.ShowForm" />
		<button type="submit" class="btn btn-primary">
			<i class="fas fa-plus-circle"></i>
		</button>
	</form>
	@if (Model.ShowForm)
	{
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label asp-for="@Model.Post.Title" class="form-label"></label>
				<input asp-for="Post.Title" class="form-control">
				<span asp-validation-for="Post.Title" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Post.Description" class="form.label"></label>
				<textarea asp-for="Post.Description" class="form-control" cols="40" rows="5"></textarea>
				<span asp-validation-for="Post.Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Post.SubjectId" class="form-label"></label>
				<select asp-for="Post.SubjectId" class="form-control" asp-items="@(new SelectList(Model.Subjects, "Id", "Category"))">
					<option value="">Välj ämne</option>
				</select>
				<span asp-validation-for="Post.Description" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<input asp-for="IsAnonymous" type="checkbox" class="form-check-input" id="anonymousCheck">
				<label asp-for="IsAnonymous" class="form-check-label">Posta som anonym</label>
			</div>


			<div class="form-group">
				<label asp-for="Post.Image" class="form-label"></label>
				<input type="file" class="form-control" name="UploadedImage">
			</div>


			<input type="submit" class="btn btn-success" value="Spara Inlägg">
		</form>
	}

}

else
{
	<div class="alert alert-danger">Du är INTE inloggad </div>
}

<div class="d-flex justify-content-center flex-wrap">
	@if (Model.Posts != null)
{
		@foreach (var post in Model.Posts)
		{
			<div class="card m-2" style="max-width: 50%">
				<img class="card-img-top" src="~/img/@post.Image">
				<div class="card-body">
					<div class="card-header-info d-flex justify-content-between align-items-center">
						<p class="mb-0">@(!string.IsNullOrEmpty(post.PostedBy) ? post.PostedBy : "Anonym")</p>
						<p class="mb-0">@post.Date</p>
					</div>
					<h5 class="card-title">@post.Title</h5>
					<p class="card-text">@post.Description</p>
					@if (User.Identity.Name != null && User.Identity.Name == post.UserName)
					{
						<a asp-route-deleteid="@post.Id" class="btn btn-primary">Ta bort</a>
					}
				</div>
			</div>
		}
}
</div>

<form method="post" asp-page-handler="SendDM">
	<div class="form-group">
		<label for="receiverEmail">Email of the person you want to message</label>
		<input type="email" id="receiverEmail" name="receiverEmail" class="form-control">
	</div>
	<div class="form-group">
		<label for="dmContent">Your Message</label>
		<textarea id="dmContent" name="dmContent" class="form-control"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Send Direct Message</button>
</form>

